@import 'variables';

:host {

}
//* {
//    border: 1px solid red
//}

$table-height: 70px;

.table-container {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 80px);
    grid-auto-flow: column;
    gap: 20px;


    .table{
        display: flex;
        justify-content: space-between;
        background-color: $table-off;

    & .table-number {
        width: 70px;
        height:auto;
        text-align: center;
    }     

    & .running-cost {
        max-width: 100px;
    }
    }
}