<ng-container *ngIf="clock$ | async as clock">
    <h1>
        {{ clock | dfnsFormat: 'kk:mm:ss' }}
    </h1>
    <button (click)="showSwitchboard = !showSwitchboard">Toggle switchboard</button>
    <switchboard *ngIf="showSwitchboard"></switchboard>
    <div class="table-container">

        <ng-container *ngFor="let table of (tables$ | async) as tables; index as i">
            <div class="table">
                <ng-container *ngIf="table.state !== tableState.Disabled">

                    <h1 class="table-number">
                        {{ i + 1 }}
                    </h1>
                    <!--
                    <h2>
                        Table State: {{ table.state }}
                    </h2>-->
                    <div class="time-started">
                        <h2 *ngIf="table.state !== tableState.Off" [class.table-on]="table.state !== tableState.Off">
                            Time started: {{ table.timeStarted | dfnsFormat: 'kk:mm' }} or
                            {{ table.timeStarted | hoursAndMinutesDifference: clock }} ago
                        </h2>
                    </div>

                    <h1 *ngIf="table.state !== tableState.Off" [class.table-on]="table.state !== tableState.Off"
                        class="running-cost">
                        ${{ table.timeStarted | timeToCost: clock : i + 1 }}
                    </h1>

                </ng-container>
            </div>
        </ng-container>
    </div>
</ng-container>

<!-- <pending-transaction></pending-transaction> -->